@import "tailwindcss";


.cool-underline{
  position: relative;
}

.cool-underline::after{
  content: '';
  height: 10px;
  background-color: #DC008344;
  display: block;
  position: absolute;
  left: -5px;
  width: 0;
  bottom: 10px;
  z-index: -1;
  transform: skew(-21deg);
  transition: all 0.5s ease-in-out
}

.cool-underline.show-underline::after{
  width: calc(100% + 16px)
}